.App {
  text-align: center;
}

.App-header {
  background: url('/banner_grid.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: sans-serif;
  font-size: 3em;
}

.highlight {
  background-color: #ccff00;
}
