body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Uploader {
  padding-top: 2%;
  font-size: 2.0em;
}

.UploadMessage {
  font-size: 0.5em;
  color: blue;
}

.SearchWrapper {
  width: 80%;
  margin: auto;
}

.SearchInput {
  border: 3px solid darkslateblue;
  padding: 5px;
  height: 30px;
  width: 40%;
  border-radius: 5px;
  font-size: 0.7em;
}

.SearchTable {
  margin-top: 4%;
}

.SearchButton {
  border: 3px solid darkslateblue;
  background: darkslateblue;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  padding: 5px;
  font-size: 0.7em;
}

.Search {
  width: 100%;
  font-size: 1.5em;
}

table {
  margin: auto;
}

.NoResults {
  font-size: 0.8em;
  color: gray;
}

.Transcript {
  font-size: 0.7em;
  text-align: justify;
  padding: 2%;
  line-height: 140%;
}

.highlight {
  font-weight: 600;
  font-style: italic;
}
